.ajc-button {
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
}

.ajc-button-grey {
  background-color: #757575;
}

.ajc-button-grey:hover {
  background-color: #939393;
  transition: all 0.3s ease-in-out 0s;
}

.ajc-button-red {
  background-color: #AE1E01;
}

.ajc-button-red:hover {
  background-color: #D35A44;
  transition: all 0.3s ease-in-out 0s;
}
