.ajc-background-grey-1 {
  background-color: #F6F6F6;
}

.ajc-background-grey-2 {
  background-color: #757575;
}

.ajc-background-red {
  background-color: #AE1E01;
}

.ajc-background-transparent {
  background-color: transparent;
}

.ajc-background-white {
  background-color: #FFFFFF;
}

.ajc-background-yellow {
  background-color: #FFFBDD;
}

.ajc-border-colour-white {
  border-color: #FFFFFF;
}

.ajc-border-colour-black {
  border-color: #000000;
}

.ajc-flex-column {
  display: flex;
  flex-direction: column;
}

.ajc-flex-justify-center {
  justify-content: center;
}

.ajc-flex-justify-left {
  justify-content: flex-start;
}

.ajc-flex-justify-right {
  justify-content: flex-end;
}

.ajc-flex-row {
  display: flex;
  flex-direction: row;
}

.ajc-font-default {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-wrap: break-word;
}

.ajc-page-mask {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  min-width: 705px;
  min-height: 768px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  overflow-y: scroll;
}

.ajc-spacing-bottom-large {
  padding-bottom: 30px;
}

.ajc-spacing-bottom-reduced {
  margin-bottom: -5px;
}

.ajc-spacing-bottom-small {
  padding-bottom: 15px;
}

.ajc-spacing-right-small {
  margin-right: 20px;
}

.ajc-spacing-top-reduced {
  margin-top: -5px;
}

.ajc-spacing-top-large {
  padding-top: 30px;
}

.ajc-spacing-top-small {
  padding-top: 15px;
}

.ajc-text-black {
  color: #000000;
}

.ajc-text-white {
  color: #FFFFFF;
}

.ajc-visibility-hidden {
  visibility: hidden;
}

.ajc-visibility-visible {
  visibility: visible;
}

.ajc-width-4k {
  width: 100%;
  max-width: 3825px;
  min-width: 705px;
}

.ajc-width-body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ajc-width-full-hd {
  width: 100%;
  max-width: 1905px;
  min-width: 705px;
}

.ajc-width-hd {
  width: 100%;
  max-width: 1351px;
  min-width: 705px;
}

.ajc-width-hd-with-padding {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 1321px;
  min-width: 675px;
}
