.ajc-font-paragraph-heading {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 600;
  word-wrap: break-word;
}

.ajc-page-content-panel {
  height: auto;
  margin: 0px;
  min-height: 425px;
}

.ajc-page-content-text {
  margin: 0px;
  line-height: 1.5em;
  word-wrap: break-word;
}
